

/* * {
  border: 1px solid red;
}   */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(179, 255, 0, 0.072);
} 
 

/*======== NAV ========*/

/* * {
  box-sizing: border-box;
} */

.aaa {
  padding: 1rem;
}

.navbar {
   display: flex;
   position: relative;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(179, 255, 0, 0.072);
   color: black;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;

}

.navbar-links li {
  list-style: none;

}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  /* padding: 1rem; */

}

.navbar-links li:hover {
  background-color: white;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%; 
  background-color: black;
  border-radius: 10px;
}

/* add tablet media query to make contact form wider*/

@media (max-width: 600px) {
  .toggle-button{
    display: flex;
  }

  .navbar-links{
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
     width: 100%;
     flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

}
/*======== NAV END ========*/

/*======================== COVER PHOTO =================*/
.pageCoverPhoto {
  display: flex;
  background-color: #e9ece5;
  width: 100%;
  max-width: 100% ;
  flex-direction: row;
  height: 400px;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  background-image: url(https://res.cloudinary.com/techhire/image/upload/v1594670174/AdobeStock_314497218_Preview_vm15i6.jpg);
  /* background-image: url(https://res.cloudinary.com/techhire/image/upload/v1595017735/AdobeStock_355445378_Preview_vgntzs.jpg); */
  background-position: 0px;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;

}
/*========================COVER PHOTO=================*/ 


/*======== PINK LINE ========*/
    .pinkline {
      /* display: flex; */
      background-color: pink;
      width: 100%;
      height: 10%;
      /* flex-wrap: wrap;
      flex-direction: row; */
      height: 5px;
      /* justify-content: center;
      align-content: space-between;
      align-items: center; */
    }
/*======== PINK LINE END ========*/


 /*======================== PAGE 1 START=================*/
 
 /* ---- info about me ---- */
  .title{
    text-align: center;
  }

  .image{
    text-align: center;
  }

  .profilepic {
    flex-direction: column;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    top: 50%;
    bottom: 50%;
    background: rgba(255, 192, 203, 0.329);
    padding: 5px;
    border-radius: 75px;
    text-align: center;
    align-content: center;
  }


  .button2 {
    /* display: flex; */
    background-color: rgba(255, 230, 0, 0.253);
    border-radius:8px;
    font-size: 12px;
    /* width: auto;
    align-content: center; */
    font-family: 'Josefin Sans', sans-serif;
  } 


  .infoAboutMe {
    /* box-shadow: 5px 5px 5px 5px pink;
    font-size: 15px;
    width: 90%;
    background-color: #e9ece5;
    width: 100%;
    max-width: 100% ;
    flex-direction: column;
    height: 200px;*/
     /* background-color: #e9ece5; */
    display: flex;
    flex-direction: column;
    top: 50%;
    bottom: 50%;
    background: rgba(255, 192, 203, 0.329);
    padding: 45px;
    border-radius: 5px;
    text-align: left;
    align-content: center;
    
  }

  @media (max-width: 400px) {
    .paragraph{
      /* display: flex; */
      /* margin-left: 100px;
      margin-right: 100px; */
      margin: auto;
      padding: 20px;
      background: rgba(255, 192, 203, 0.329);

    }}

  p .paragraph {
    flex-direction: column;
    /* top: 50%;
    bottom: 50%; */
    /* background-color: #e9ece5; */
    background: rgba(255, 192, 203, 0.329);
    padding: 70px;
    border: 50px;
    /* margin-left: 100px;
    margin-right: 100px; */
    margin: auto;
    border-radius: 5px;
    text-align: left;
  }

  .buttonDiv {
    text-align: center;
    
  }

 /* ---- info about me END ---- */

  /* ---- SKILLS SECTION ---- */
  .skills-text {
    /* box-shadow: 5px 5px 5px 5px pink; */
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 90%;
    /* background-color: rgba(179, 255, 0, 0.072); */
    /* background-color: #e9ece5; */
    width: 100%;
    max-width: 100% ;
    flex-direction: column;
    /* height: 200px; */
    /* opacity: 0.93; */
    /* justify-content: flex-end; */
    align-content: center;
    align-items: center;
    object-fit: cover;
  }


  .button1 {
    background-color: rgba(255, 230, 0, 0.253);
    border-radius:8px;
    font-size: 12px;
    width: auto;
    font-family: 'Josefin Sans', sans-serif;
  }

/* ---- SKILLS SECTION END ---- */

 

  /*======================== PAGE 1 END DONE=================*/


    /*---------json API setting above------ Start -------*/

    .portfolioTitle{
      top: 20%;
      bottom: 20%;
      /* background-color: #e9ece5; */
      /* background-color: rgba(179, 255, 0, 0.072); */
      font-size: 30px;
      padding: 15px;
      text-align: center;
    }

    .jsonskills {
      display: flex;
      flex-direction: column;
      padding: 90px ;
      border-radius: 5px;
      /* top: 50%; */
      padding-bottom: 100px;
      /* border-radius: 5px; */
      text-align: center;
      margin-bottom: 0;

    }

    .jsonskills .skillsImage {
      display: flex;
      flex-direction: column;
      height: 90px;
      width: 90px;
      background-color: rgb(255, 255, 255);
      /* border-color: teal; */
      border: 1px solid teal;
      border-radius: 25px;
      object-fit: cover;
    }

  .json {
    display: flex;
    flex-direction: column;
    /* padding: 120px ; */
    border-radius: 5px;
    top: 50%;
    padding-bottom: 50px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0 ;
  }

  .jsonFontSize{
font-size: 25px;
  }

  .pFontSize{
    font-size: 15px;
  }

  .skills-text {
    justify-content: start; 
  }

  img {
    width: 10%;
  }
  

   /*---------json API setting above------ END -------*/



  /*============CONTACT US FORM===============*/
  .wrapper {
    /* position: absolute; */
    top: 50%;
    background: rgba(255, 192, 203, 0.329);
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: ;
    background-image: url('https://res.cloudinary.com/techhire/video/upload/v1595016057/Untitled_design_cajt44.mp4');
    /* box-shadow:  */
  }

  .wrapper .input_field {
    margin-bottom: 10px;
  }

  .button4 {
    background-color: rgba(255, 230, 0, 0.253);
    border-radius:8px;
    font-size: 12px;
    width: auto;
    font-family: 'Josefin Sans', sans-serif;
  }
  /*---------CONTACT US FORM ------ END -------*/


  /*=============SOCIAL ICONS===================*/
  .socialIcons {
    /* position: absolute; */
    top: 50%;
    background: rgba(255, 192, 203, 0.329);
    padding: 25px;
    border-radius: 5px;
    text-align: center;

    /* box-shadow:  */
  }

  /* .fab fa-linkedin {
    width: 20px; height: 20px; margin: 0 15px 5px 0;
    padding: 25px;
  } */


  /*---------SOCIAL ICONS------ END -------*/